<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
    
</head>
<body>
    <h1>The Calamity of Silver Monster</h1>
    <div>
        <form>
            <label for="userName">User name:</label>
            <input type="text" id="userName" name="userName"><br><br>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password"><br><br>
            <input type="submit" value="Login"><br><br>
            <button type="button">Create New Account</button>
        </form>
    </div>
</body>
</html>